.PromoMessage {
    cursor:pointer;
    color: #1F91D8;  
}

.Cart  {
    width: 300px;
    background: #eee;
    border: 2px solid #aaa;
    padding: 20px;
}
.CartItem {
    width: 80%;
    display:flex;
    margin-bottom: 10px;
}

.CartItem img {
    width: 80px;
    height:80px;
    object-fit: cover;
}

.Detail {
    font-size: 0.85em;
    padding-left:10px;
}