
.Cart  {
    width: 300px;
    background: #eee;
    padding: 20px;
    margin: 0 auto;
}
.CartItem {
    width: 100%;
    margin:0;
    padding:0;
    display:flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: flex-start;
}
.CartItem * {
    margin:0;
    padding:0;
}

.CartItem img {
    max-width: 80px;
    max-height:80px;
    object-fit: cover;

}

.Detail {
    font-size: 0.85em;
    padding:0 10px;
    flex:1;

}

.Price {
    font-weight: bold;
    
}

