.BillItem {
    display: flex;
    justify-content: space-between;
    width:100%;
    margin:0;
    padding:0;
}

.BillItem .Label {
    flex:1;
}
.BillItem .Amount {
    font-weight:700;
    padding-right: 1rem;
}

.Red {
    color:red;
}

.Total {
    font-family: Poppins, sans-serif;
    font-size: 1.25em;
    font-weight: 600;
}